@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Regular.ttf');
}

*{
	font-family: "Raleway";
}

.background{
	background: color($colors, primary);
	//background: linear-gradient(to bottom, #fff 0%, #6495ed 100%);
	color: color($colors, light);
	margin-top: 25px;
}

.home{
	background: color($colors, primary);
	//background: linear-gradient(to bottom, #6495ed 0%, #fff 100%);
	color: color($colors, light);
	margin-top: 25px;
}

.toolbar-title{
	text-align: center;
	font-weight: bold;
}

.tabs-md .tab-button-icon{
	color: #ccc;
}

.temp{
	font-size: 90px;
	text-align: center;
	font-weight: lighter !important;
}

.location, .icon, .desc{
	text-align: center;
}

.icon img{
	width: 150px;
}

.location{
	font-size: 40px;
}

.desc{
	font-size: 30px;
}